---
import CTA from "../components/CTA.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import HowItWorks from "../components/HowItWorks.astro"
import Navigation from "../components/Navigation.astro"
import Slideshow from "../components/Slideshow.astro"
import WireframeFlow from "../components/WireframeFlow.astro"
import Layout from "../layouts/Layout.astro"

export const prerender = false
---

<Layout title="textcash">
  <Navigation />
  <main>
    <Hero />

    <!-- <WireframeFlow /> -->

    <HowItWorks />

    <Slideshow />

    <CTA />
  </main>
  <Footer />
</Layout>

<!-- <script>
  import { gsap } from "gsap"

  document.addEventListener("DOMContentLoaded", () => {
    gsap.from(".hero", {
      duration: 1,
      autoAlpha: 0,
      ease: "power2.inOut",
    })
  })
</script> -->

<style></style>
