---

---

<div class="container embed-wrapper">
  <iframe
    class="embed-wrapper__iframe"
    width="315"
    height="560"
    src="https://www.youtube.com/embed/Bq64Er7of2M"
    title="TextCash Introduction"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
</div>

<style lang="scss">
  .embed-wrapper {
    display: grid;
    place-items: center;

    &__iframe {
      border-radius: 37px;
      border: none;
    }
  }
</style>
