---
import CardHowItWorks from "./CardHowItWorks.astro"

const data = [
  {
    title: "Enroll",
    subtext: [
      "<p style=' margin-bottom: 20px !important;' >Getting started with TextCash is quick and easy.</p>",
      " <p>Simply text: enroll <span class='font-style: italic; font-weight: 300;'>YOUR BVN to 1114. <span /> <span> Example: enroll 22156635578 </span></p>",
    ],
    image: "/models/abstract1.png",
  },
  {
    title: "Config",
    subtext: [
      "<p style=' margin-bottom: 20px !important;'>Set up your account in a few steps to start using TextCash:</p>",
      "<p>Reply to 1114 with your desired username, phone number, and password</p>",
    ],
    image: "/models/abstract2.png",
  },
  {
    title: "Make Payment",
    subtext: [
      "<p>Send money in seconds using just a simple SMS:</p>",
      "<p>Text: pay USERNAME AMOUNT to 1114.</p>",
    ],
    image: "/models/abstract3.png",
  },
  {
    title: "Check Balance",
    subtext: [
      "<p style=' margin-bottom: 20px !important;'>Stay on top of your account with a quick SMS:</p>",
      "<p>Text: balance to 1114 to check your account balance anytime.</p>",
    ],
    image: "/models/abstract4.png",
  },
]
---

<section class="container how-it-works">
  <h2 class="title">How it works?</h2>

  <div class="grid">
    {data.map((d, index) => <CardHowItWorks {...d} index={index} />)}
  </div>
</section>

<style lang="scss">
  @import "../styles/_mixin.scss";

  .how-it-works {
    display: grid;
    padding: 80px 30px;
    place-items: center;
    /* flex-direction: column; */
    /* text-align: center; */
    gap: 40px;
  }

  .grid {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 20px;
    /* align-items: flex-start; */
    /* align-self: stretch; */

    /* // medium to large */
    @include respond-to("medium") {
      flex-direction: row;
    }
  }

  .title {
    color: var(--Base-Primary);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;

    /* // medium to large */
    @include respond-to("medium") {
      font-size: 72px;
    }
  }
</style>
