---
import Input from "./ui/Input.astro"
import Button from "./ui/Button.astro"

// TODO: 1. create a form submission flow - success and failure
// 2. send form data to backend
//

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData()
    const name = data.get("phone")

    const response = await fetch("/api/submit-waitlist", {
      method: "POST",
      body: data,
    })

    console.log(response)

    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<>
  <form id="waitlist" class="waitlist-input" method="POST">
    <Input
      data-activate="false"
      variant="ghost"
      type="tel"
      placeholder="Enter your phone number"
      name="phone"
      required
    />
    <Button>Join Waitlist</Button>
  </form>
  <div class="form-error" data-error="role"></div>
</>

<!-- <script>
  const form = document.getElementById("waitlist") as HTMLFormElement

  form.addEventListener("submit", async function (e) {
    e.preventDefault()

    // document.querySelectorAll("[data-error]").forEach(el => {
    //   el.textContent = ""
    // })

    const formData = new FormData(form)
    // const data = Object.fromEntries(formData.entries())

    console.log(formData.get("phone"))

    // try {
    //   const response = await fetch("/api/submit-waitlist", {
    //     method: "POST",
    //     headers: {
    //       "Content-Type": "application/json",
    //     },
    //     body: formData,
    //   })

    //   const result = await response.json()

    //   console.log(result)

    //   // form.reset()

    //   // alert("successful")
    // } catch (error) {
    //   alert(error)
    // }
  })
</script> -->

<style>
  .waitlist-input {
    display: flex;

    background-color: var(--Base-White);
    max-width: 100%;
    min-width: 200px;
    padding: var(--Spacing-spacing-sm, 8px) var(--Spacing-spacing-md, 12px);
    align-items: center;
    gap: var(--Spacing-spacing-sm, 8px);

    border-radius: 37px;
    border: 1px solid var(--color-border, #e4e4e7);
    background: var(--color-bg, #fff);

    /* Shadows/sm */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  .waitlist-input :global(input) {
    flex-grow: 1;
    min-width: 150px;
  }

  .form-error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

  .waitlist-input :global(button) {
    flex-shrink: 0;
  }
</style>
