---

---

<button class="white-paper"> Download White Paper </button>

<style>
  .white-paper {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Base-Secondary);
    box-shadow: 0px 0px 6.7px 2px #d3a4ff;
    border: none;
    color: var(--Base-Pastel);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
</style>
