---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="TextCash enables seamless 2G financial transactions and cross-border remittance via SMS & USSD protocols  powered by the Stellar Network."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @use "../styles/_tailwind-preflight.scss";
  @use "../styles/_fonts.scss";
  @import "../styles/_mixin.scss";

  :root {
    --Base-Primary: #19191c;
    --Base-Secondary: #7b09e5;
    --Base-Pastel: #d1dce5;
    --Base-White: #ffffff;
    --hero-title-width: 900px;
    --padding-y-lg: 80px;
    --padding-x-lg: 30px;
  }

  html {
    font-family: "Helvetica Neue", sans-serif;
  }

  .container {
    max-width: 1280px;
    margin: auto;
  }
</style>
