---

---

<h1>
  text<span>Cash</span>
</h1>

<style>
  h1 {
    color: var(--Base-Pastel);
    text-align: center;
    font-family: "Helvetica Neue LT Std";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 120%; 31.2px */
    /* letter-spacing: 2.86px; */
  }

  h1 > span {
    margin: 0px;
    padding: 0px;
    color: var(--Base-Secondary);
    /* line-height: 120%; */
    /* letter-spacing: 2.86px; */
  }
</style>
