---
import { Image } from 'astro:assets';
---

<h1>
  <Image src="/logo.png" width={40} height={40} alt="textcash logo" />
  <span class="logo-name">
    Text<span>Cash</span>
  </span>
</h1>

<style>
  @import "../../styles/_mixin.scss";
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--Base-Pastel);
    text-align: center;
    font-family: "Helvetica Neue LT Std";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 120%; 31.2px */
    /* letter-spacing: 2.86px; */
  }

  .logo-name {
    display: hidden
    
    @include respond-to("medium") {
      display: inline-block;
    }
  }

  h1 > span > span {
    margin: 0px;
    padding: 0px;
    color: var(--Base-Secondary);
    /* line-height: 120%; */
    /* letter-spacing: 2.86px; */
  }
</style>
